@import '~@angular/material/prebuilt-themes/indigo-pink.css';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.selector {
background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(assets/bg.jpg);
 }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
